[user]
    name = Rubén Durán Balda
    email = ruduran@users.noreply.github.com

[alias]
    f = fetch
    ci = commit
    s = status -sb
    st = status
    co = checkout
    df = diff
    dc = diff --cached
    ds = diff --stat
    dcs = diff --cached --stat
    w = worktree
    cp = cherry-pick

    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[core]
    excludesfile = ~/.gitignore
    editor = vim

[remote "origin"]
    tagopt = --tags
    prune = true

[push]
    default = upstream

[pull]
    rebase = true

[rebase]
    stat = true
    autoStash = true

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

